.container {
    border: 1px solid lightgray;
    margin: .1em;
    padding: 1em;
    height: 830px;
    width: 300px;

}
.factbox {
    border: 1px solid lightgray;
    margin: .1em;
    padding: 1em;
    height: 350px;
    width: 275px;
    float: right;
    font-size: 10pt;
    font-family: 'Times New Roman', Times, serif;
    font-weight: lighter;

}
ul {list-style-type:none;}
img {
    width: 300px;
}
